<div class="flex justify-center mt-8">
  <div class="w-5/5">
    <h1 class="text-4xl font-bold mb-8">Incidents</h1>

    <div class="flex items-center mb-4">
      <div class="text-lg font-semibold space-x-4 mr-4">Sort by:</div>
      <div class="flex items-left space-x-2">
        <%= link_to "Title", root_path(sort_by: 'title', order: params[:order] == 'desc' ? 'asc' : 'desc'), class: "text-blue-500 hover:text-blue-700" %>
        <%= link_to "Severity", root_path(sort_by: 'severity', order: params[:order] == 'desc' ? 'asc' : 'desc'), class: "text-blue-500 hover:text-blue-700" %>
        <%= link_to "Creator", root_path(sort_by: 'creator', order: params[:order] == 'desc' ? 'asc' : 'desc'), class: "text-blue-500 hover:text-blue-700" %>
      </div>
    </div>

    <%= render Incidents::IncidentTableComponent.new(incidents: @incidents) %>
  </div>
</div>